In [2]:
import pandas as pd
import numpy as np

In [24]:
#Khởi tạo SparkSession
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Diabetes").getOrCreate()

df = spark.read.csv(
    "diabetes_dataset.csv",
    header=True,
    inferSchema=True
)

In [25]:
#Check null
from pyspark.sql.functions import col, sum

df.select([
    sum(col(c).isNull().cast("int")).alias(c)
    for c in df.columns
]).show()

+---+------+---------+---------------+------------+-----------------+--------------+----------------------------+----------------------------------+----------+-------------------+-------------------------+-----------------------+--------------------+----------------------+---+------------------+-----------+------------+----------+-----------------+---------------+---------------+-------------+---------------+--------------------+-------------+-----+-------------------+--------------+------------------+
|age|gender|ethnicity|education_level|income_level|employment_status|smoking_status|alcohol_consumption_per_week|physical_activity_minutes_per_week|diet_score|sleep_hours_per_day|screen_time_hours_per_day|family_history_diabetes|hypertension_history|cardiovascular_history|bmi|waist_to_hip_ratio|systolic_bp|diastolic_bp|heart_rate|cholesterol_total|hdl_cholesterol|ldl_cholesterol|triglycerides|glucose_fasting|glucose_postprandial|insulin_level|hba1c|diabetes_risk_score|diabetes_stage|diagnosed_diabetes|
+---+------+---------+---------------+------------+-----------------+--------------+----------------------------+----------------------------------+----------+-------------------+-------------------------+-----------------------+--------------------+----------------------+---+------------------+-----------+------------+----------+-----------------+---------------+---------------+-------------+---------------+--------------------+-------------+-----+-------------------+--------------+------------------+
|  0|     0|        0|              0|           0|                0|             0|                           0|                                 0|         0|                  0|                        0|                      0|                   0|                     0|  0|                 0|          0|           0|         0|                0|              0|              0|            0|              0|                   0|            0|    0|                  0|             0|                 0|
+---+------+---------+---------------+------------+-----------------+--------------+----------------------------+----------------------------------+----------+-------------------+-------------------------+-----------------------+--------------------+----------------------+---+------------------+-----------+------------+----------+-----------------+---------------+---------------+-------------+---------------+--------------------+-------------+-----+-------------------+--------------+------------------+

In [26]:
# Check duplicates
# This cell computes total rows, distinct rows (all columns), and shows sample duplicate groups
total = df.count()
distinct_all = df.dropDuplicates().count()
duplicates_all = total - distinct_all
print(f"Total rows: {total}")
print(f"Distinct rows: {distinct_all}")
print(f"Duplicate rows: {duplicates_all}")
if duplicates_all > 0:
    from pyspark.sql.functions import col
    # Group by all columns to find groups with count>1 (may be expensive on large datasets)
    dup_groups = df.groupBy(df.columns).count().filter(col("count") > 1).orderBy(col("count").desc())
    print("Duplicate groups:")
    dup_groups.show(10, truncate=False)
else:
    print("No duplicates found.")

Total rows: 100000
Distinct rows: 100000
Duplicate rows: 0
No duplicates found.

In [27]:
#Drop unnecessary columns
cols_to_drop = [
    "ethnicity",
    "education_level",
    "smoking_status",
    "alcohol_consumption_per_week",
    "sleep_hours_per_day",
    "screen_time_hours_per_day",
    "hypertension_history",
    "cardiovascular_history",
    "waist_to_hip_ratio",
    "diastolic_bp",
    "heart_rate",
    "cholesterol_total",
    "ldl_cholesterol",
    "glucose_postprandial",
    "insulin_level",
    "income_level",
    "employment_status",
    "diabetes_stage",
    "diagnosed_diabetes"
]

df = df.drop(*cols_to_drop)

In [29]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when

df = df.withColumn(
    "gender",
    when(col("gender") == "Male", 1)
    .when(col("gender") == "Female", 0)
    .otherwise(None)   # nếu có giá trị lạ thì để null
)

df.select("gender").show(5)
df.printSchema()

+------+
|gender|
+------+
|     1|
|     0|
|     1|
|     0|
|     1|
+------+
only showing top 5 rows
root
 |-- age: integer (nullable = true)
 |-- gender: integer (nullable = true)
 |-- physical_activity_minutes_per_week: integer (nullable = true)
 |-- diet_score: double (nullable = true)
 |-- family_history_diabetes: integer (nullable = true)
 |-- bmi: double (nullable = true)
 |-- systolic_bp: integer (nullable = true)
 |-- hdl_cholesterol: integer (nullable = true)
 |-- triglycerides: integer (nullable = true)
 |-- glucose_fasting: integer (nullable = true)
 |-- hba1c: double (nullable = true)
 |-- diabetes_risk_score: double (nullable = true)

In [30]:
df.show()

+---+------+----------------------------------+----------+-----------------------+----+-----------+---------------+-------------+---------------+-----+-------------------+
|age|gender|physical_activity_minutes_per_week|diet_score|family_history_diabetes| bmi|systolic_bp|hdl_cholesterol|triglycerides|glucose_fasting|hba1c|diabetes_risk_score|
+---+------+----------------------------------+----------+-----------------------+----+-----------+---------------+-------------+---------------+-----+-------------------+
| 58|     1|                               215|       5.7|                      0|30.5|        134|             41|          145|            136| 8.18|               29.6|
| 48|     0|                               143|       6.7|                      0|23.1|        129|             55|           30|             93| 5.63|               23.0|
| 60|     1|                                57|       6.4|                      1|22.2|        115|             66|           36|            118| 7.51|               44.7|
| 74|     0|                                49|       3.4|                      0|26.8|        120|             50|          140|            139| 9.03|               38.2|
| 46|     1|                               109|       7.2|                      0|21.2|         92|             52|          160|            137|  7.2|               23.5|
| 46|     0|                               124|       9.0|                      0|26.1|         95|             61|          179|            100| 6.03|               23.5|
| 75|     0|                                53|       9.2|                      0|25.1|        129|             46|          155|            101| 5.24|               36.1|
| 62|     1|                                75|       4.1|                      0|23.9|        128|             49|          120|            110| 7.04|               34.2|
| 42|     1|                               114|       6.7|                      0|24.7|        103|             33|           98|            116|  6.9|               26.7|
| 59|     0|                                86|       8.2|                      0|26.7|        124|             52|          104|             76| 4.99|               30.0|
| 43|     0|                               118|       7.5|                      0|24.8|        109|             44|          182|            124| 7.34|               25.3|
| 43|     0|                               167|       7.2|                      0|22.3|        119|             59|           49|            117|  7.4|               18.5|
| 54|     0|                                13|       6.7|                      0|31.2|        120|             40|          222|            123| 6.88|               37.5|
| 19|     1|                               364|       5.7|                      0|21.6|        105|             64|          141|             83| 5.59|                7.3|
| 22|     1|                               105|       7.0|                      0|31.4|        113|             47|          131|            105| 5.88|               21.1|
| 41|     1|                                99|       6.6|                      0|25.9|        118|             54|          140|            110| 6.05|               24.1|
| 34|     1|                                31|       5.3|                      0|20.3|        107|             56|           73|            105| 6.88|               23.1|
| 55|     0|                                54|       3.4|                      0|24.8|        110|             52|          180|            100| 5.89|               32.8|
| 35|     1|                                14|       5.4|                      0|18.0|        100|             40|          148|            101| 6.61|               26.1|
| 27|     1|                               164|       8.6|                      0|22.8|         99|             61|          148|             91| 6.23|               16.0|
+---+------+----------------------------------+----------+-----------------------+----+-----------+---------------+-------------+---------------+-----+-------------------+
only showing top 20 rows

In [31]:
# Export cleaned DataFrame as single CSV file
import os, glob, shutil
out_dir = "output/cleaned_data_tmp"
# Coalesce to a single partition and write out
df.coalesce(1).write.csv(out_dir, header=True, mode="overwrite")
# Find the single part file Spark produced and move it
part_files = glob.glob(os.path.join(out_dir, "part-*.csv"))
if part_files:
    part_file = part_files[0]
    dest = "output/cleaned_data.csv"
    shutil.move(part_file, dest)
    # cleanup temporary folder contents except the moved file
    for f in glob.glob(os.path.join(out_dir, "*")):
        # skip if it's the moved file (already relocated)
        if os.path.abspath(f) == os.path.abspath(dest):
            continue
        if os.path.isdir(f):
            shutil.rmtree(f, ignore_errors=True)
        else:
            try:
                os.remove(f)
            except OSError:
                pass
    try:
        os.rmdir(out_dir)
    except OSError:
        pass
    print("Written:", dest)
else:
    print("No part file found in", out_dir)

Written: output/cleaned_data.csv